ion-content {
  --background: url('/assets/fundo.loc.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-card {
  margin: 100px 30px 30px 30px;
  border-radius: 10px;
 background: #302f2f;
  align-items: center;
}

ion-card-title {
  font-size: 35px;
  text-align: center;
  margin: 40px 0;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ion-card-content {
  padding: 20px 20px 20px 20px;
}

ion-input {
  margin-bottom: 25px;
  --padding-start: 10px;
  --padding-end: 10px;
  border: 2px solid #c2c2c2;
  border-radius: 5px;
}

ion-button {
  background: #3880ff;

  color: rgb(255, 255, 255);

  border-radius: 5px;

  font-size: 1.1em;

  margin-top: 10px;

  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



ion-button:hover {
  background: #dadada;

}

ion-input-password-toggle {
  color: #3e75d4;

}

.secondary-button-container {
  display: flex;
  gap: 8px;

}

.btn-account {
  flex: 1;
  height: 20px;
  font-size: 0.9rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.btn-guest {
  flex: 1;
  height: 20px;
  font-size: 0.9rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}