<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-card>
   <ion-card-title>Faça seu cadastro!</ion-card-title>
  
    <ion-card-content>
      <ion-input label="Login" [(ngModel)]="login"></ion-input>
      <ion-input label="Nome" [(ngModel)]="nome"></ion-input>
      <ion-input label="E-mail" [(ngModel)]="email"></ion-input>
      <ion-input type="Password" label="Password" [(ngModel)]="senha">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>  
      </ion-input>
      <ion-button expand="block" (click)="post()">Cadastrar-se</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>  
