ion-content {
  --background: #5a1919;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ion-card {
  margin-top: 60px;
  width: 90%;
  margin-left: 17px;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background: rgb(93, 62, 62);
  align-items: center;
}

ion-card-title {
  font-size: 35px;
  text-align: center;
  margin: 40px 0;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ion-card-content {
  padding: 20px 20px 20px 20px;
}

ion-input {
  margin-bottom: 25px;
  --padding-start: 10px;
  --padding-end: 10px;
  border: 2px solid #c2c2c2;
  border-radius: 5px;
}

ion-button {
  background: #3880ff;

  color: rgb(255, 255, 255);

  border-radius: 5px;

  font-size: 1.1em;

  margin-top: 10px;

  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



ion-button:hover {
  background: #dadada;

}

ion-input-password-toggle {
  color: #3e75d4;

}

.secondary-button-container {
  display: flex;
  gap: 8px;

}

.btn-account {
  flex: 1;
  height: 20px;
  font-size: 0.9rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.btn-guest {
  flex: 1;
  height: 20px;
  font-size: 0.9rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}