<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-title>Fale Conosco</ion-card-title>
 
    <ion-card-content>
      
      <h2>Tem alguma dúvida, sugestão ou deseja entrar em contato? <br> Envie-nos uma mensagem!</h2>
      <ion-textarea label="Mensagem" label-placement="floating" placeholder="Escreva sua mensagem aqui"></ion-textarea>
       <h3>Deixe sua avaliação:</h3>
         <div class="star-rating">
        <ion-icon name="star" class="star"></ion-icon>
        <ion-icon name="star" class="star"></ion-icon>
        <ion-icon name="star" class="star"></ion-icon>
        <ion-icon name="star" class="star"></ion-icon>
        <ion-icon name="star" class="star"></ion-icon>
      </div>

      
      <ion-button expand="block" color="primary" (click)="exibirAlerta()">Enviar</ion-button>
      <ion-button expand="block" color="dark" routerLink="/pedidos" >Voltar ao Início</ion-button>
     
   
    </ion-card-content>
  </ion-card>
</ion-content>
