<ion-content class="fundo">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/pedidos" color="dark" text=""></ion-back-button>
      </ion-buttons>
      <ion-title>Editar Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="td-junto">
      <div class="foto-perfil">
        <ion-avatar class="perfil-img" (click)="selecionarImagem()">
          <img [src]="fotoUrl || placeholderUrl" id="foto-perfil-img" />
        </ion-avatar>
      </div>
      <div class="info-usuario">
        <h2 class="nome">{{ usuario.nomeUsuario }}</h2>
        <p class="usuario">{{ usuario.email }}</p>
      </div>
    </div>

    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input placeholder="Nome" [(ngModel)]="usuario.nomeUsuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Telefone</ion-label>
        <ion-input placeholder="Telefone" [(ngModel)]="usuario.telefone" type="tel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input placeholder="Email" [(ngModel)]="usuario.email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Endereço</ion-label>
        <ion-input [value]="usuario.endereco" readonly="true" (click)="selecionarEndereco()"
          placeholder="Selecione o endereço no mapa"></ion-input>
        <p>{{ usuario.endereco }}</p>
      </ion-item>
    </ion-list>

    <div class="botoes">
      <ion-button expand="block" color="dark" class="btn-salvar" (click)="salvarPerfil()">Salvar Alterações</ion-button>
      <ion-button expand="block" color="danger" class="btn-logout" (click)="logout()">Logout</ion-button>
    </div>
  </div>
</ion-content>