.fundo {
  --background: none;
  min-height: 100vh;
background: #000000;
}

.container {
  padding: 20px;
  text-align: center;
}

/* Foto e nome */
.foto-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.perfil-img {
  width: 80px;
  height: 80px;
}

.nome {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.usuario {
  margin-top: -5px;
  font-size: 14px;
  color: #ddd;
}

/* Inputs */
ion-input {
  --background: transparent;
  --padding-start: 10px;
  --border-radius: 6px;
  --color: #fff;
  border: 1px solid #fff;
  margin: 8px 0;
  color: #fff;
}


/* Botões */
.btn-salvar, .btn-logout {
  border-radius: 6px;
  margin-top: 10px;
  text-transform: none;
}
