<ion-content [fullscreen]="true" class="fundo">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pedidos" color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-card-title>Casa Bonsai</ion-card-title>


  <div class="conteudo">
    <h2>Encontre-nos no endereço abaixo:</h2>
    <h2><strong>Rua das Flores, 123</strong></h2>
    <h2><strong>Criciúma, SC, 88888-888</strong></h2>
    <h2>Veja o mapa para mais detalhes:</h2>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1750.0876208523327!2d-49.368643804382316!3d-28.684404048054894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9521827f065bb53d%3A0x77cdd613a71f01a3!2sEst%C3%A1dio%20Heriberto%20H%C3%BClse%20(Majestoso)!5e0!3m2!1spt-BR!2sbr!4v1756296864794!5m2!1spt-BR!2sbr"
      allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  </div>

</ion-content>