.infoitens-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 0;
}

ion-card {
  width: 90%;
  max-width: 700px;
  margin: 20px 20px 20px 20px;
  border-radius: 12px;
 
}

.infoitens-img {
  width: 100%;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
  
}

.infoitens-preco {
  font-size: 1.3em;
  font-weight: bold;
  color: #ffe0e0;
  margin: 18px 0 12px 0;
}

.infoitens-qtd {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-bottom: 18px;
  font-size: 1.2em;
  
}
.infoitens-total {
  font-size: 1.0em;
  font-weight: bold;
  color: #cacaca;

  margin-bottom: 18px;
}
.titulo {
  text-align: center;
  font-size: 1.3em;
  align-items: center;

}
