.infoitens-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 0;
}

ion-card {
  width: 90%;
  max-width: 700px;
  margin: 20px;
  border-radius: 12px;
}

.infoitens-img {
  width: 100%;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

.infoitens-preco {
  font-size: 1.3em;
  font-weight: bold;
  color: #ffe0e0;
  margin: 18px 0 12px 0;
}

/* Container que junta contador + botão */
.infoitens-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 18px;
}

.infoitens-qtd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px;
  min-width: 90px;
  gap: 12px;
}

.infoitens-qtd span {
  font-size: 1.1em;
  font-weight: bold;
}

.infoitens-total {
  margin-left: 12px;
  font-size: 1em;
  font-weight: bold;
}

.titulo {
  text-align: center;
  font-size: 1.3em;
}
.adicionar{
  font-weight: 600; 
}
.comentario-item {
  --padding-start: 20px;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --padding-end: 0;
    border: 1px solid #908484;   /* cor da borda */
  border-radius: 8px;       /* cantos arredondados */
  margin-top: 12px;
 

}
