ion-content {
  --background: #000000; /* Cor de fundo suave */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda a altura da tela */
}

ion-card {
  margin-top: 90px; /* Espaçamento superior */
  width: 90%; /* Largura responsiva */
  margin-left: 17px; /* Margem à esquerda */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
  background: rgb(57, 57, 57); /* Fundo do card */
  padding: 20px; /* Espaçamento interno */
}

ion-card-title {
  font-size: 35px; /* Tamanho da fonte do título */
  text-align: center; /* Centraliza o título */
  margin: 40px 0; /* Margem superior e inferior */
  color: #ffffff; /* Cor do texto */
  font-weight: bold; /* Negrito */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte */
}

ion-card-content {
  padding: 2px; /* Remove o padding padrão */
}

ion-input {
  margin-bottom: 40px; /* Espaçamento entre os inputs */
  --padding-start: 10px; /* Espaçamento interno à esquerda */
  --padding-end: 10px; /* Espaçamento interno à direita */
  border: 2px solid #c2c2c2; /* Borda suave */
  border-radius: 5px; /* Bordas arredondadas */
}

ion-button {
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 1.1em; /* Tamanho da fonte do botão */
  margin-bottom: 40px; /* Margem inferior */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte */
}

ion-button:hover {
  background: #dadada; /* Cor do botão ao passar o mouse */
}

.secondary-button-container {
  display: flex;
  gap: 10px; /* Espaçamento entre os botões */
  margin-top: 20px; /* Margem superior */
}
