<ion-content [fullscreen]="true">
  <ion-header collapse="condense"></ion-header>

  <ion-card>
    <ion-card-title>Faça o <br> seu login!</ion-card-title>

    <ion-card-content>
      <ion-input placeholder="E-mail" [(ngModel)]="email"></ion-input>
      <ion-input type="password" placeholder="Senha" [(ngModel)]="senha">
        <ion-input-password-toggle slot="end" color="dark"></ion-input-password-toggle>
      </ion-input>
    </ion-card-content>

    <ion-button expand="block" color="dark" (click)="fazerLogin()">Entrar</ion-button>

    <div class="secondary-button-container">
      <ion-button expand="block" color="light" routerLink="/forgot-password">Esqueceu a Senha?</ion-button>
      <ion-button expand="block" color="light" routerLink="/cadastro" class="botao-cadastro">Voltar ao cadastro</ion-button>
    </div>
  </ion-card>
  <ion-header collapse="condense">
      </ion-header>
</ion-content>