ion-content {
  --background: url('/assets/fundo.loc.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-card {
  align-items: center; /* Centraliza o conteúdo do card */
  margin: 160px 30px 30px 30px;
  border-radius: 10px; /* Bordas arredondadas */
  background: rgb(57, 57, 57); /* Cor de fundo do card */
  padding: 20px; /* Espaçamento interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  max-width: 400px; /* Largura máxima para telas maiores */
}

ion-card-title {
  font-size: 35px; /* Tamanho da fonte do título */
  text-align: center; /* Centraliza o título */
  margin: 40px 0; /* Margem superior e inferior */
  color: #ffffff; /* Cor do texto */
  font-weight: bold; /* Negrito */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte */
}

ion-card-content {
  padding: 2px; /* Remove o padding padrão */
}

ion-input {
  margin-bottom: 40px; /* Espaçamento entre os inputs */
  --padding-start: 10px; /* Espaçamento interno à esquerda */
  --padding-end: 10px; /* Espaçamento interno à direita */
  border: 2px solid #c2c2c2; /* Borda suave */
  border-radius: 5px; /* Bordas arredondadas */
}

ion-button {
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 1.1em; /* Tamanho da fonte do botão */
  margin-bottom: 40px; /* Margem inferior */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte */
}

ion-button:hover {
  background: #dadada; /* Cor do botão ao passar o mouse */
}

.secondary-button-container {
  display: flex;
  gap: 10px; /* Espaçamento entre os botões */
  margin-top: 20px; /* Margem superior */
}
