<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pedidos" color="dark" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Minhas Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="compras.length > 0; else noCompras"  class="compras-list">
    <ion-card *ngFor="let compra of compras" class="compra-card">
      <ion-card-header>
        <ion-card-subtitle class="data-compra">Compra realizada em: {{ compra.data }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content *ngFor="let item of compra.itens">
       
             <div class="item-container">
                <img [src]="item.imagem" alt="Imagem do produto" class="produto" slot="start"/>
              <ion-label class="item-info">
              <h2 class="item-nome">{{ item.nome }}</h2>
              <p class="item-detalhe">Quantidade: {{ item.quantidade }}</p>
              <p class="item-detalhe preco">Preço: R$ {{ item.preco | number:'1.2-2' }}</p>
            </ion-label>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>

 <ng-template #noCompras>
    <div class="no-compras-message">
      <ion-icon name="cart-outline"></ion-icon>
      <p>Você ainda não fez nenhuma compra.</p>
    </div>
  </ng-template>
</ion-content>