<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Minhas Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="compras.length > 0; else noCompras">
    <ion-card *ngFor="let compra of compras">
      <ion-card-header>
        <ion-card-title>Compra realizada em: {{ compra.data }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let item of compra.itens">
              <ion-thumbnail slot="start">
                <img [src]="item.imagem" alt="Imagem do produto" />
                  </ion-thumbnail>
              <ion-label>
              <h2>{{ item.nome }}</h2>
              <p>Quantidade: {{ item.quantidade }}</p>
              <p>Preço: R$ {{ item.preco }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ng-template #noCompras>
    <ion-list>
      <ion-item>
        <ion-label>Você ainda não fez nenhuma compra.</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>