ion-content {
  --background: 
}

ion-card {

  padding: 28px 24px;
  background: #1b1b1b;
  border-radius: 20px;
  margin-top: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



ion-card-title {
  margin: 18px 0 28px;
  font-size: 1.9em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


ion-card-content {
  width: 100%;
  padding: 0;
}

ion-input {
  margin-bottom: 20px;
  border-radius: 10px;
  background: #2f2f2f;
  font-size: 1.05em;
  color: #fff;
  --placeholder-color: #bbb;
  --padding-start: 14px;
  --padding-end: 14px;
  
}


ion-button {
  margin-top: 10px;
  border-radius: 12px;
  font-size: 1.15em;
  font-weight: bold;
  --color: #fff;
}

ion-button:hover {
  --background: #fff;
}


.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-header ion-card-title {
  flex: 1;
  text-align: center;
  color: #fff;
}
