ion-content {
  --background: url('/assets/fundo.loc.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

ion-card {
  margin: 180px 30px 30px 30px;
  background: rgb(57, 57, 57); 
  padding: 20px;
}

ion-card-title {
  font-size: 35px; 
  text-align: center; 
  margin: 40px 0; 
  color: #ffffff; 
  font-weight: bold; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

ion-card-content {
  padding: 2px; 
}

ion-input {
  margin-bottom: 40px; 
  --padding-start: 10px; 
  --padding-end: 10px; 
  border: 2px solid #c2c2c2; 
  border-radius: 5px; 
}

ion-button {
  border-radius: 5px;
  font-size: 1.1em;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ion-button:hover {
  background: #dadada; 
}

.secondary-button-container {
  display: flex;
  gap: 10px; 
  margin-top: 20px; 
}

h2{
    margin-bottom: 30px;
    text-align: center;
    color: #ffffff;
}
