<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastrar pedidos - ADM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- FORMULÁRIO DE CADASTRO -->
  <div class="formulario">
    <p>Nome</p>
    <ion-input placeholder="Digite o nome do produto" [(ngModel)]="nome"></ion-input>

    <p>Descrição</p>
    <ion-input placeholder="Digite a descrição do produto" [(ngModel)]="descricao"></ion-input>

    <p>Serve (quantas pessoas)</p>
    <ion-input type="number" placeholder="Ex: 2" [(ngModel)]="serve"></ion-input>

    <p>Preço</p>
    <ion-input type="number" placeholder="Digite o preço" [(ngModel)]="preco"></ion-input>

    <!-- SELECT DE CATEGORIA -->
    <p>Categoria</p>
    <ion-item>
      <ion-select placeholder="Selecione a categoria"  [(ngModel)]="categoria">
        <ion-select-option *ngFor="let cat of categorias" [value]="cat.slug">
          {{cat.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- BOTÃO PARA SELECIONAR IMAGEM -->
    <p>Imagem</p>
    <ion-button expand="block" (click)="selecionarImagem()">Selecionar Imagem</ion-button>

    <!-- PRÉVIA DA IMAGEM -->
    <div *ngIf="imagem" class="preview-img">
      <img [src]="imagem" alt="Prévia" />
    </div>

    <ion-button expand="block" (click)="salvar()">Cadastrar</ion-button>
  </div>

  <hr>
</ion-content>
