<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastrar pedidos - ADM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- FORMULÁRIO DE CADASTRO -->
  <div class="formulario">
    <p>Nome</p>
    <ion-input placeholder="Digite o nome do produto" [(ngModel)]="nome"></ion-input>

    <p>Descrição</p>
    <ion-input placeholder="Digite a descrição do produto" [(ngModel)]="descricao"></ion-input>

    <p>Serve (quantas pessoas)</p>
    <ion-input type="number" placeholder="Ex: 2" [(ngModel)]="serve"></ion-input>

    <p>Preço</p>
    <ion-input type="number" placeholder="Digite o preço" [(ngModel)]="preco"></ion-input>

    <!-- SELECT DE CATEGORIA -->
    <p>Categoria</p>
    <ion-item>
      <ion-select placeholder="Selecione a categoria"  [(ngModel)]="categoria">
        <ion-select-option *ngFor="let cat of categorias" [value]="cat.id">
          {{cat.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- BOTÃO PARA SELECIONAR IMAGEM -->
    <p>Imagem</p>
    <ion-button expand="block" (click)="selecionarImagem()">Selecionar Imagem</ion-button>

    <!-- PRÉVIA DA IMAGEM -->
    <div *ngIf="imagem" class="preview-img">
      <img [src]="imagem" alt="Prévia" />
    </div>

    <ion-button expand="block" (click)="salvar()">Cadastrar</ion-button>
  </div>

  <hr>

  <!-- LISTAGEM DE PRODUTOS EM BOTÕES CLICÁVEIS -->
  <div class="produtos-container">
    <button
      *ngFor="let item of pedidos"
      class="produto-card produto-botao"
    >
      <img *ngIf="item.imagem" [src]="item.imagem" alt="{{item.nome}}" class="produto-img" />

      <div class="produto-info">
        <div class="produto-nome">{{item.nome}}</div>
        <div class="produto-desc">{{item.descricao}}</div>
        <div class="produto-serve">Serve {{item.serve}} pessoa{{item.serve > 1 ? 's' : ''}}</div>
        <div class="produto-preco">R$ {{item.preco}}</div>
        <div class="produto-cat">Categoria: {{item.categoria}}</div>
      </div>
    </button>
  </div>
</ion-content>
