<ion-content [fullscreen]="true" class="background-image">
  <ion-header collapse="condense">
  </ion-header>

  <!-- <div class="div-botao-admin">
    <ion-button class="botao" color="dark" routerLink="/adm-login">Começar</ion-button>
  </div> -->

  <img src="assets/logoo.png" class="logo" alt="Background Image">
  <div class="div-titulo">
    <h1 class="titulo">Casa Bonsai</h1>
  </div>
  <div class="div-subtitulo">
    <h2 class="subtitulo">Tradicao e sabor em <br>
      cada pedaço.</h2>
  </div>
  <div class="div-botao">
    <ion-button class="botao" color="dark" routerLink="/cadastro">Começar</ion-button>
  </div>
</ion-content>