<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pedidos" color="dark" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Nossos brindes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="brindes-bg">
  <div class="conteudo">
    <h2>Descubra os brindes exclusivos da Casa Bonsai! <br> De chaveiros estilosos a totoros encantadores, troque seus pontos por itens cheios de personalidade e sorte!</h2>
  </div>

  <ion-grid>
    <ion-row>
      <!-- Chaveiro -->
      <ion-col size="6">
        <div class="brinde-card" (click)="toggleDescricao('chaveiro')">
          <img src="assets/chaveiro.png" alt="Chaveiro">
          <h2>Chaveiros</h2>
          <p class="descricao">
            Chaveiros estilosos para manter suas chaves organizadas.
          </p>
          <div class="coin">...</div>
        </div>
      </ion-col>

      <!-- Meias -->
      <ion-col size="6">
        <div class="brinde-card" (click)="toggleDescricao('meias')">
          <img src="assets/meias.png" alt="Meias">
          <h2>Meias</h2>
          <p class="descricao">
            Meias confortáveis e estilosas representando o que você mais gosta.
          </p>
          <div class="coin">...</div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Xícara -->
      <ion-col size="6">
        <div class="brinde-card" (click)="toggleDescricao('caneca')">
          <img src="assets/caneca.png" alt="Caneca">
          <h2>Xícara</h2>
          <p class="descricao">
            Pense em você tomando sua bebida favorita nesta xícara com a nossa logo.
          </p>
          <div class="coin">...</div>
        </div>
      </ion-col>

      <!-- Gato -->
      <ion-col size="6">
        <div class="brinde-card" (click)="toggleDescricao('gato')">
          <img src="assets/gato.png" alt="gato">
          <h2>Gatinho da sorte</h2>
          <p class="descricao">
            Gatinho dourado para trazer sorte para sua vida.
          </p>
          <div class="coin">...</div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Totoro -->
      <ion-col size="6">
        <div class="brinde-card" (click)="toggleDescricao('totoro')">
          <img src="assets/totoro.png" alt="Totoro">
          <h2>Totoro</h2>
          <p class="descricao">
            Brinde inspirado no personagem Totoro do filme "Meu Amigo Totoro" do Studio Ghibli.
          </p>
          <div class="coin">...</div>
        </div>
      </ion-col>

      <!-- Bonsai -->
      <ion-col size="6">
        <div class="brinde-card" (click)="toggleDescricao('bonsai')">
          <img src="assets/bonsai.png" alt="Bonsai">
          <h2>Bonsai</h2>
          <p class="descricao">
            Bonsai, uma técnica de plantio pequena mas cheia de significado.
          </p>
          <div class="coin">...</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="pontos">
    Seus pontos: <strong>{{ pontos }}</strong>
  </div>
</ion-content>
